[submodule "src/newlib"]
	path = src/newlib
	url = https://praios.lf-net.org/littlefox/newlib-lf_os.git
	branch = lf-os
[submodule "src/llvm"]
	path = src/llvm
	url = https://praios.lf-net.org/littlefox/llvm-project.git
	branch = lf-os
[submodule "src/loader/efi"]
	path = src/include/efi
	branch = pbcp
	url = https://github.com/LittleFox94/efi-headers.git
