[submodule "src/newlib"]
	path = src/newlib
	url = ../newlib-lf_os.git
	branch = lf-os
[submodule "src/llvm"]
	path = src/llvm
	url = ../llvm-project.git
	branch = lf-os
[submodule "src/loader/efi"]
	path = src/include/efi
	url = https://github.com/yoppeh/efi.git
