[submodule "src/newlib"]
	path = src/newlib
	url = https://praios.lf-net.org/littlefox/newlib-lf_os.git
	branch = lf-os
[submodule "src/llvm"]
	path = src/llvm
	url = https://praios.lf-net.org/littlefox/llvm-project.git
	branch = lf-os
	shallow = true
[submodule "src/loader/efi"]
	path = src/include/efi
	branch = master
	url = https://github.com/yoppeh/efi.git
[submodule "src/userspace/term/3rd-party/spleen"]
	path = src/userspace/term/3rd-party/spleen
	url = https://github.com/fcambus/spleen
[submodule "src/googletest"]
	path = src/googletest
	url = https://github.com/google/googletest.git
[submodule "src/userspace/klsh"]
	path = src/userspace/klsh
	url = https://praios.lf-net.org/littlefox/klsh.git
